.detect{
    position: fixed;
    height: 55px;
    width: 55px;
    border-radius: 30px;
    background-color: rgb(231, 142, 0);
    right: 18px;
    bottom: 50px;
    line-height: 52px;
    text-align: center;
    cursor: pointer;
}

.detect .icon{
    color: white;
    font-size: 35px;
}

.detect-popup{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.08);
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

.detect-wrap{
    width: fit-content;
    min-width: 600px;
    height: fit-content;
    margin: 0 auto;
    border-radius: 8px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    background-color: white;
    display: block;
    box-shadow: 0 0 20px 5px rgb(179, 179, 179);
}

.detect-wrap .title{
    padding-top: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}
.detect-wrap .content{
    color: rgb(42, 42, 42);
    font-size: 1.1rem;
    padding: 20px;
    width: 100%;
}

.detect-wrap .i-m{
    padding: 5px 10px;
    text-align: center;
}

.detect-btn{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.detect-btn .btn{
    padding: 10px;
    background-color: rgb(253, 154, 40);
    border: none;
    color: white;
    font-weight: 600;
}

.detect-wrap >.i-m >img{
    max-height: 500px;
    padding: 0 auto;
}