.his-order>p{
    color: rgb(12 118 0);
    font-weight: 800;
    font-size: 1.3rem;
    padding: 8px 0 15px 5px;
}

.border-wrapp{
    border-radius: 10px;
    border: 1px solid #efefef;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table, td, th {
    text-align: left;
    padding: 8px;
    font-weight: 100;
    cursor: pointer;
}

table>thead>tr>th {
    font-weight: 800;
    height: 3.5rem;
    background-color: #f2f2f2;
}

table>tbody>tr:hover {
    background-color: aquamarine;
}
  

tr:nth-child(even) {background-color: #f2f2f2;}

.patination{
    float: right;
    display: flex;
}

nav>ul>li{
    width: 100%;
    border: 1px solid #efefef;
    padding: 10px 15px;
    cursor: pointer;
    color: rgb(255, 115, 0);
    font-size: 20px;
}

.active{
    background-color: rgb(12 118 0);
    color: white;
    box-shadow: 5px 1px;

}