.left{
    width: 70%;
    float: left;
}

.right{
    width: 28%;
    float: left;
}

.info-order{
    width: 100%;
    /* background-color: antiquewhite; */
    float: left;
    padding: 20px;
    border-radius: 8px;
    border:1px solid rgb(200, 200, 200);
    margin-top: 20px;
}

.title{
    font-weight: 800;
    font-size: 20px;
    color:chocolate;
    padding-bottom: 10px;
}

.child{
    padding: 0px;
    color: rgb(82, 74, 74);
}

.info-payment{
    width: 100%;
    float: left;
    border: 1px solid rgb(200, 200, 200);
    margin: 20px 0 0 20px;
    padding: 10px;
    border-radius: 8px;
}

.info-cus{
    width: 100%;
    height: fit-content;

}

.info-diliver{
    width: 100%;
    height: fit-content;
    position: relative;
    display: inline-block;
}

.in-group{
    float: left;
    width: 50%;
    padding-bottom: 10px;
}

.input-t{
    width: 96%;
    border-color: darkgray;
    padding: 8px;
    font-size: 14px;
    border: 1px solid darkgray;
    margin-top: 5px;
    border-radius: 4px;
}

.child{
    margin-right: 19px;
    margin-top: 15px;
    float: left;
    width: 50%;
}

.last{
    margin-top: 15px;
}

.radio-button{
    width: 15px;
    height: 15px;
    margin: 10px;
    
}

.label-radio{
    float: left;
    
}

.info-product{
    width: 100%;
    height: max-content;
    display: flex;
    margin-top: 10px;
}

.img-item{
    flex: 0 0 25%;
}

.img-item img{
    width: 80%;
    margin-top: -5px;
}

.name-item{
    flex: 0 0 50%; 
    float: left;
    margin-top: 10px;
}

.price-item{
    flex: 0 0 25%;
    text-align: right;
    margin-top: 10px;

}

.Add-Address{
    padding-top: 15px;
    width: 100%;
    position: relative;
    float: left;
}

.p-emAdd{
    width: 70%;
    text-align: left;
    float: left;
    font-size: 1.2rem;
}

.btn-add{
    background-color:rgb(12 118 0);
    color: white;
    margin: 0 30px;
    font-weight: 700 !important;
}

.form-control{
    font-size: 1rem;
    height: 2rem;
    width: 70%;
    float: left;
    padding-left: 10px;
}

.pay-cod{
    float: left;
    border: 1px solid rgb(255, 130, 0);
    width: 30%;
    margin: 0.4rem;
    border-radius: 5px;
    cursor: pointer;
}

.pay-onl{
    float: left;
    border: 1px solid rgb(255, 130, 0);
    width: 30%;
    margin: 0.4rem;
    border-radius: 5px;
    cursor: pointer;

}

.logo-payoff{
    width: 2rem;
    height: 1.5rem;
    margin: 5px;
    float: left;
}

.logo-vnpay{
    width: 4rem;
    height: 1.5rem;
    margin: 5px;
    float: left;
}

.btn-pay{
    background-color: rgb(255, 130, 0);
    color: rgb(255,255,255);
    border: none;
    padding: 0.7rem 2rem 0.7rem 2rem;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    display: block;
    width: max-content;
    margin: 10px auto 0 auto ;
    cursor: pointer;
}